@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: hsl(0, 0%, 95%);

  font-family: "Lexend Deca", sans-serif;
}

.component {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.card {
  width: 25rem;
  padding: 4rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: flex-start;
}

.img {
  display: block;
  margin-bottom: 2.4rem;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}

.title {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}

.description {
  font-size: 1.2rem;
  line-height: 1.8;
  color: hsla(0, 0%, 100%, 0.75);
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 2.4rem;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 100px;
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: inherit;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--sedans:link,
.btn--sedans:visited {
  color: hsl(31, 77%, 52%);
}

.btn--suvs:link,
.btn--suvs:visited {
  color: hsl(184, 100%, 22%);
}
.btn--luxury:link,
.btn--luxury:visited {
  color: hsl(179, 100%, 13%);
}

.btn--sedans:hover,
.btn--sedans:active,
.btn--suvs:hover,
.btn--suvs:active,
.btn--luxury:hover,
.btn--luxury:active {
  color: hsl(0, 0%, 95%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}
.attribution a {
  color: hsl(184, 100%, 22%);
}

/* For Small Screen Device */

@media (max-width: 375px) {
  body {
    padding: 2rem;
    min-width: 100vw;
    gap: 3.5rem;
  }

  .component {
    flex-direction: column;
    width: 20rem;
  }

  .card {
    width: 100%;
    padding: 2.4rem;
    gap: 1.6rem;
  }

  .title {
    font-size: 2.4rem;
  }

  .description {
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
  }

  .btn:link,
  .btn:visited {
    font-size: 1.2rem;
    padding: 0.8rem 1.6rem;
    margin: 0;
  }

  .aside {
    position: relative;
  }

  .attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}
